@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f2f2f2;
}

.wrapper {
  top: 20px;
  left: 20px;
  animation: show_toast 1s ease forwards;
}

@keyframes show_toast {
  0% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(10%);
  }
  80%,
  100% {
    transform: translateX(20px);
  }
}
/* hasil debug */
/* .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.wrapper.hide {
  animation: hide_toast 1s ease forwards;
}

@keyframes hide_toast {
  0% {
    transform: translateX(20px);
  }
  40% {
    transform: translateX(10%);
  }
  80%,
  100% {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
  }
}

.wrapper .toast {
  background-color: #fff;
  padding: 20px 15px 20px 20px;
  border-radius: 10px;
  border-left: 5px solid #2ecc71;
  width: 430px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 7px 15px -5px rgba(0, 0, 0, 0.15);
}

.toast .content {
  display: flex;
  align-items: center;
}
.toast .content .icon {
  font-size: 25px;
  background-color: #2ecc71;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}

.toast .content .details {
  margin-left: 15px;
}

.content .details span {
  font-size: 20px;
  font-weight: 500;
}

.content .details p {
  color: #878787;
}

.toast .close-icon {
  background-color: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 23px;
  cursor: pointer;
  color: #878787;
  border-radius: 50%;
}

.wrapper .toast.offline {
  border-color: #ccc;
}

.toast.offline .content .icon {
  background: #ccc;
}
